* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    background-color: #74C365;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 60px;
}

header h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}

#sidebar {
    background-color: #ACE1AF;
    width: 240px;
    min-height: 100vh;
    padding: 1.5rem;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

#sidebar ul {
    list-style: none;
    padding-left: 0;
}

#sidebar li a {
  display: block;
  padding: 0.5rem 1rem;
  color: #333;
  text-decoration: none;
}

#sidebar li a:hover {
  background-color: #74C365;
  color: white;
  border-radius: 4px;
}

.navbar {
  background-color: #0f1111;
  color: white;
  padding: 0.5rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 60px;
  z-index: 999;
  display: flex;
}

.navbar a {
  flex: 1;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 1rem;
  margin-right: 1rem;
}

.navbar a:hover {
  color: white;
  background-color: #66bb6a;
  text-decoration: none; 
}

#page-wrapper {
    display: flex;
}

main {
    flex: 1;
    padding: 2rem;
    min-height: 100vh;
    background-color: #d0f0c0;
}

main h2, h3 {
    background-color: white;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
}

main ul, p {
    margin-left: 1.5rem;
}

.topic-nav {
    justify-content: space-between;
    margin-top: 2rem;
    display: flex;

}
.topic-nav a {
    background-color: #74C365;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.topic-nav a:hover {
    background-color: #66bb6a;
    color: white;
}

footer {
    background-color: #0f1111;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}